@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --dark: #111;
    --primary: #ffbf00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 3000px;
}

.navbar .nav-content,
.home .home-content,
.about .about-content,
.project .project-content,
.contact .contact-content{
    max-width: 1500px;
    padding: 0 80px;
    margin: auto;
}

/* style navbar */
.navbar{
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    position: fixed;
    z-index: 999;
    transition: all .3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background-color: var(--primary);
    box-shadow: 0 5px 10px;
}
.navbar .nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .nav-content .brand{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
.navbar.sticky .nav-content .brand{
    color: var(--dark);
}
.navbar.sticky .nav-content .brand span{
    color: white;
}
.navbar .nav-content .brand span{
    color: var(--primary);
}
.navbar .nav-content .menu li{
    list-style: none;
    display: inline-block;

}
.navbar .nav-content .menu li a{
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
    color: white;
}
.navbar.sticky .nav-content .menu li a{
    color: var(--dark);
}
.navbar.sticky .nav-content .menu li a:hover{
    color: white;
}
.navbar .nav-content .menu li a:hover{
    color: var(--primary);
}
.navbar .nav-content .nav-menu{
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

/* style home */
.home{
    display: flex;
    background: url(images/img-bg.jpg) no-repeat center;
    height: 100vh;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 100px 0;
    background-attachment: fixed;
}
.home .home-content{
    width: 100%;
}
.home .home-content .teks-1{
    font-size: 27px;
}
.home .home-content .teks-2{
    font-size: 80px;
    font-weight: 500;
    margin-left: -5px;
}
.home .home-content .teks-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .teks-3 span{
    color: var(--primary);
    font-weight: 500;
    position: relative;
}
.home .home-content .teks-3 span::before{
    content: "";
    position: absolute;
    height: 75%;
    width: 2px;
    top: 50%;
    right: -8px;
    background-color: var(--primary);
    transform: translateY(-45%);
    animation: blink .7s infinite;
}
.home .home-content .teks-3 span.stop-blink::before{
    animation: none;
}
@keyframes blink{
    50%{opacity: 0}
}
.home .home-content a{
    display: inline-block;
    font-size: 25px;
    padding: 12px 36px;
    background-color: var(--primary);
    color: var(--dark);
    border-radius: 10px;
    font-weight: 400;
    margin: 15px 0;
    border: 2px solid var(--primary);
}
.home .home-content a:hover{
    background-color: transparent;
    color: var(--primary);
}

/* style for about, project & contact */
.about, .project, .contact{
    font-family: 'montserrat', sans-serif;
    padding: 100px 0;
}
.about .title, .project .title, .contact .title{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 60px;
}
.about .title span, .project .title span, .contact .title span{
    color:  var(--primary);
}
/* style about */
.about .about-content .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .row .left-column{
    flex: 45%;
}
.about .about-content .row .right-column{
    flex: 55%;
}
.about .about-content img{
    object-fit: cover;
    border-radius: 6px;
}
.about .right-column .head{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .right-column p{
    text-align: justify;
}
.about .right-column a{
    font-size: 20px;
    font-weight: 500;
    background-color: var(--primary);
    color: var(--dark);
    padding: 10px 25px;
    border-radius: 6px;
    margin-top: 20px;
    display: inline-block;
    border: 2px solid var(--primary);
    transition: all .3s ease;
}
.about .right-column a:hover{
    background: none;
}

/* style project */
.project{
    background-color: #111;
    color: white;
}
.project .galeri{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project .galeri .card{
    background-color: #222;
    border-radius: 6px;
    padding: 35px 35px 25px;
    text-align: center;
    margin: 10px 5px;
    transform: scale(.9,.9);
    transition: all .3s ease;
}
.project .galeri .card:hover{
    background-color: var(--primary);
    transform: scale(1.1);
}
.project .galeri .card img{
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid var(--primary);
}
.project .galeri .card:hover img{
    border-color: white;
}
.project .galeri .teks{
    font-size: 25px;
    font-weight: 500;
}

/* style contact */
.contact .contact-content .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact .contact-content .row .left-column{
    flex: 50%;
    padding-right: 30px;
}
.contact .contact-content .row .right-column{
    flex: 50%;
    padding-left: 30px;
}
.contact .contact-content .row .head{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left-column .group{
    display: flex;
}
.contact .contact-content .left-column .box{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .contact-content .left-column input,
.contact .contact-content .left-column textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'montserrat', sans-serif;
}
.contact .contact-content .left-column input:focus,
.contact .contact-content .left-column textarea:focus{
    box-shadow: 0 0 5px rgba(53, 27, 222, .7);
}
.contact .contact-content .left-column .nama{
    margin-right: 10px;
}
.contact .contact-content .left-column .pesan{
    height: 100px;
    width: 100%;
}
.contact .contact-content .left-column textarea{
    resize: none;
    padding: 10px;
}
.contact .contact-content .left-column .button-send{
    display: flex;
    align-items: center;
}
.contact .contact-content .left-column button{
    background-color: var(--primary);
    color: var(--dark);
    width: 120px;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid var(--primary);
    margin-bottom: 50px;
}
.contact .contact-content .left-column button:hover{
    background: none;
}
.cotact .contact-content .right-column p{
    text-align: justify;
}
.contact .contact-content .right-column .data{
    margin: 10px 0;
}
.contact .contact-content .right-column .data .row-data{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .right-column .data .row-data .info{
    margin-left: 35px;
}
.contact .contact-content .right-column i{
    font-size: 30px;
    color: var(--primary);
}
.contact .contact-content .right-column .up{
    font-weight: 500;
}
.contact .contact-content .right-column .down{
    color: var(--dark);
}

/* style footer */
footer{
    font-family: 'poppins', sans-serif;
    background-color: var(--dark);
    color: white;
    padding: 30px 0;
    text-align: center;
}
footer a{
    color: var(--primary);
}
footer a:hover{
    text-decoration: underline;
}


/* responsive tablet */
@media (max-width: 800px){
    .navbar .nav-content,
    .home .home-content,
    .about .about-content,
    .project .project-content,
    .contact .contact-content{
        padding: 0 50px;
    }
    /* style navbar */
    .navbar .nav-content .nav-menu{
        display: block;
        z-index: 999;
    }
    .navbar .nav-content .nav-menu i.active::before{
        content: "\f00d";
    }
    .navbar .nav-content .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--dark);
        top: 0;
        padding-top: 100px;
        right: -100%;
        text-align: center;
        transition: all .3s ease;
    }
    .navbar .nav-content .menu.active{
        right: 0;
    }
    .navbar .nav-content .menu li{
        display: block;
        margin: 30px;
    }
    .navbar .nav-content .menu li a{
        font-size: 25px;
        margin: 20px 0;
        display: inline-block;
    }
    .navbar.sticky .nav-content .menu li a{
        font-size: 25px;
        margin: 20px 0;
        display: inline-block;
        color: white;
    }
    /* style home */
    .home .home-content .teks-2{
        font-size: 70px;
    }
    .home .home-content .teks-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    /* style about */
    .about .about-content .row .left-column,
    .about .about-content .row .right-column{
        flex: 100%;
    }
    .abou .about-content .row .left-column img{
        width: 350%;
        height: 350px;
    }
    .about .about-content .row .left-column{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

/* responsive mobile */
@media (max-width: 540px){
    .navbar .nav-content,
    .home .home-content,
    .about .about-content,
    .project .project-content,
    .contact .contact-content{
        padding: 0 30px;
    }
    .home .home-content .teks-2{
        font-size: 50px;
    }
    .home .home-content .teks-3{
        font-size: 27px;
    }
    .home .home-content a{
        font-size: 20px;
        padding: 10px 25px;
    }
}
/* style contact */
.contact .contact-content .row .left-column,
.contact .contact-content .row .right-column{
    flex: 100%;
    padding: 0;
}
.contact .contact-content .left-column .group{
    display: block;
}
}